body{
    background-color: lightblue;
}

h1{
    text-align:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
}

#biodata{
    background-color: rgb(200, 191, 191);
    border: 1px solid black;
    padding: 5px;
    margin: 15px;
    width: 50%;
}

#regis{
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    width: 50%;
    margin-bottom: 20px;
}

#regis label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#regis input,#regis select {
    display: block;
    width: 90%;
    padding: 5px;
    margin-bottom: 15px;
}

#regis button{
    color: white;
    background-color:rgb(25, 84, 3);
    border-radius: 12px;
    padding: 10px 15px;
    cursor:pointer
}